* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: white;
    display: grid;
    grid-template-rows: min-content auto min-content 0;
    color: white;
    text-shadow: 2px 0px 2px black, -2px 0px 2px black, 0px 2px 2px black, 0px -2px 2px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bolder;
  }

  
  div {
    padding: 0 0.5em;
  }
  
  h1 {
    display: inline;
  }

  div#head {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    text-align: center;
  }
  
  div#Menu{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }